@import '../../../App.css';

.navbar {
    padding: 5px 10px;
    color: var(--textColor);
    background-color: var(--mainColorLight);
}

.navContainer {
    display: flex;
    justify-content: flex-end;
    /* Align items to the right */
}


.navbarBrand {
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: 1.8rem;

    font-style: italic;
    font-weight: 600;
    text-decoration: none;
}

.activeNavLink {
    color: var(--mainColorDark) !important;
    text-decoration: underline;
}

.activeNavLink:hover {
    color: var(--accentColor3) !important;
    text-decoration: underline;
}


.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.navbar-collapse.collapse.show,
.navbar-collapse.collapse.collapsed {
    display: flex;
    justify-content: left;
}


.navItem {
    margin: 0px 10px;
    font-size: 1.1rem;
    color: var(--accentColor1);
}

.navItem:hover {
    color: var(--accentColor3);
}

.homeNavbar {
    background-color: transparent;
    color: var(--mainColorLight);
}

.homeNavItem {
    margin: 0px 5px;
    color: var(--mainColorLight);
    font-family: var(--fontFamily);
    font-size: 0.8rem;
    font-weight: 500;
}

.homeNavItem:hover {
    color: var(--accentColor1);
}