@import '../../../App.css';

html,
body {
    overflow: auto;
    padding: 0 !important;
}

.no-scroll {
    overflow: hidden;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1830px;
    margin: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-item {
    max-width: 450px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.lightbox {
    --yarl__color_backdrop: var(--overlayColor);

    img {
        border: 50px solid white !important;
    }
}

@media only screen and (max-width: 470.99999px) {
    .gallery {
        max-width: 100%;
        justify-content: space-around;

        img {
            max-width: 160px;
            height: 100%;
        }
    }

    .lightbox {
        img {
            border: 30px solid white !important;
        }
    }

}