@import '../../../App.css';

html,
body {
    overflow: auto;
    padding: 0 !important;
}

.no-scroll {
    overflow: hidden;
}

.gallery {
    display: flex;
    width: 100vw;
}

.galleryItem {
    padding: 0px 10px;
    justify-content: center;
}

img {
    margin: 10px 0px;
    max-width: 100%;
}

.lightbox {
    --yarl__color_backdrop: var(--overlayColor);

    img {
        border: 50px solid white !important;
    }
}