@import '../../../App.css';

html,
body {
    overflow: auto;
}

.contactForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm textarea,
.contactForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.contactForm textarea {
    min-height: 100px;
    resize: vertical;
}

.contactForm .submit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contactForm .submit:hover {
    background-color: #0056b3;
}

.contactForm label {
    display: block;
    margin-bottom: 5px;
}

.terms span {
    display: block;
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
}

.thankYouMessage {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* Additional styling for the message */
}

.thankYouMessage-active {
    opacity: 1;
    margin: 10px 0px;
}