body {
  background-color: #3985ba;
}
#index-row {
  background-color: #080705;
}
#code-row {
  background-color: #544b6e;
}
#resume-row {
  background-color: #b84a62;
}
#photo-row {
  background-color: #0e95a1;
}
#links-row {
  background-color: #3985ba;
  margin: 27px -15px;
}
.header {
  font-family: 'Nunito', sans-serif;
  font-size: 3.3rem;
  padding: 27px 5px;
  margin: 2px 2px;
}
a,
a:hover,
div {
  color: #ffffff;
}
a.contact {
  text-decoration: none !important;
}
i {
  margin: 2px 14px 2px 14px;
  padding: 0px 0px;
}
