body {
  background-color: #121212;
  font-family: 'Nunito', sans-serif;
}
#navbar,
.navbar-brand {
  font-size: 25px;
}
.gallaries {
  color: #ffffff;
  font-size: 20px;
}
#music {
  background-color: #353740;
}
#portraits {
  background-color: #354962;
}
#street {
  background-color: #1e3c5b;
}
