body {
  background-color: #3b4255;
}
#index-row {
  background-color: #b84a62;
}
#code-row {
  background-color: #84a9c1;
}
#resume-row {
  background-color: #586ba4;
}
#photo-row {
  background-color: #736696;
}
#links-row {
  background-color: #3b4255;
}
p {
  color: #ffffff;
  text-decoration: none !important;
  font-family: 'Nunito', sans-serif;
  font-size: 2.7rem;
  padding: 45px 45px 45px 45px;
  margin: 0 0 0 0;
  display: inline;
}
i {
  color: #ffffff;
  padding: 45px 17px 45px 17px;
}
a {
  text-decoration: none !important;
}
#icons {
  padding-left: 2rem;
}
