body {
  background-color: #534b6d;
}
#index-row {
  background-color: #fce17b;
}
#code-row {
  background-color: #0e95a1;
}
#resume-row {
  background-color: #3985bb;
}
#photo-row {
  background-color: #b94a62;
}
#links-row {
  background-color: #534b6d;
}
.header {
  font-family: 'Nunito', sans-serif;
  font-size: 3.5rem;
}
.header,
.links {
  padding: 15px 5px 15px 5px;
  margin: 2px 2px;
}
a,
a:hover {
  color: #ffffff;
}
a.contact:hover {
  text-decoration: none !important;
}
i {
  margin: 0 0 0 0;
  padding: 2px 10px 2px 15px;
}
