@import '../../../App.css';

html,
body {
    height: 100%;
    /* Make sure html and body occupy full height */
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Make the container at least as tall as the viewport */
}

.mainContent {
    flex-grow: 1;
    /* Allow main content to expand and push the footer down */
    max-width: 3000px;
    margin: 10px auto;
}

a {
    text-decoration: none;
}

/* Add or modify styles for .footer if necessary */