body {
  background-color: #121212;
  font-family: 'Nanum Gothic', sans-serif;
}
#navbar,
.navbar-brand {
  font-size: 2rem;
}

img {
  max-width: 33%;
  float: left;
  margin: 10px 20px;
}

#bio-words {
  color: #ffffff;
  max-width: 100%;
  margin: 10px 10px 10px 10px;
  font-size: 16px;
}

#bio-words p {
  font-size: 20px;
  font-weight: 100;
}

a,
a:hover,
div {
  color: #ffffff;
  text-decoration: none !important;
}

.text-links {
  color: #ffffff;
  text-decoration: underline !important;
}

.text-links:hover {
  color: #ffffff;
  text-decoration: none !important;
}
