html,
body {
  background-color: #121212;
  font-family: bebas-kai, sans-serif;
  font-style: normal;
  height: 100%;
}
#navbar,
.navbar-brand {
  font-size: 2rem;
  background-color: #121212;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
}

.bio {
  display: inline-block;
}

#bio-img {
  margin: 20px 20px 20px 20px;
  max-width: 700px;
  border: 5px solid #ffffff;
}

#profile {
  width: 100%;
}

#bio-desc {
  color: #ffffff;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: italic;
  max-width: 500px;
  font-size: 1.05rem;
  font-style: italic;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

#inline-link {
  text-decoration: underline;
}

.links {
  text-align: center;
}

a,
a:hover,
div {
  color: #ffffff;
  text-decoration: none !important;
}

#contact-form {
  text-align: center;
  width: 80%;
  margin: auto;
}

.name {
  margin-bottom: 10px;
  width: 48.5%;
}

.email,
.subject {
  margin-bottom: 10px;
  width: 98%;
}

.body {
  width: 98%;
  height: 100px;
  margin-bottom: 10px;
}

.terms {
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

span.terms {
  font-size: 1rem;
  margin: 0px;
  color: #b2b2b2;
}

.submit {
  background-color: #272727;
  color: #ffffff;
  border: none;
  font-size: 1.05rem;
  padding: 5px 20px 5px 20px;
  text-align: left;
  margin-bottom: 10px;
}

i.fas,
i.fab {
  color: #ffffff;
  font-size: 2rem;

  margin: 10px 10px 10px 10px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  img#profile {
    width: 80%;
  }

  #bio-desc {
    padding: 20px 45px 20px 45px;
  }

  i.fas,
  i.fab {
    color: #ffffff;
    font-size: 1.5rem;

    margin: 10px 10px 35px 10px;
    text-align: center;
  }
}
