html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #dedfdd;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0b0b0b;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  margin: 0;
  padding-bottom: 8rem;
  min-height: 100%;
}
.wrapper {
  text-align: center;
  width: 100%;
}

.push {
  margin: 100px 0;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #0b0b0b;
  text-align: center;
}

body::-webkit-scrollbar {
  display: none;
}

#navbar {
  background-color: #dedfdd;
}

a#logo {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.7rem;
  color: #0b0b0b;
}

#current-page {
  color: #dedfdd;
  text-decoration: underline !important;
}

#current-nav {
  color: #0b0b0b;
  text-decoration: underline !important;
}

div.copyright {
  color: #dedfdd;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 30px;
}

#alt-page {
  color: #54c6eb;
}

#current-page:hover,
#alt-page:hover {
  color: #e87461;
}

.nav-item {
  font-size: 1.1rem;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0px 5px;
}

.bio {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
  height: 100%;
}

#bio-img {
  margin: 20px 20px 20px 20px;
}

#bio-desc {
  color: #0b0b0b;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  padding: 20px 20px 20px 20px;
  text-align: justify;
}

div.social {
  margin: auto 0;
  width: 100%;
  text-align: center;
}

a,
a:hover,
div {
  color: #dedfdd;
  text-decoration: none !important;
}

#contact-form {
  text-align: left;
  width: 95%;
  margin: auto;
}

.name {
  margin-bottom: 20px;
  width: 48.5%;
}

.email,
.subject {
  margin-bottom: 20px;
  width: 98%;
}

.body {
  width: 98%;
  height: 100px;
  margin-bottom: 20px;
}

.terms {
  display: block;
  text-align: left;
  margin-bottom: 20px;
}

span.terms {
  font-size: 1rem;
  margin: 0px;
  color: #494949;
}

.submit {
  background-color: #272727;
  color: #ffffff;
  border: none;
  font-size: 1.3rem;
  padding: 10px 25px 10px 25px;
  margin-bottom: 10px;
  border-radius: 10px;
}

a.bottom-nav {
  color: #05c793;
  margin: 0 8px 0 0;
}

i.fas,
i.fab {
  color: #dedfdd;
  font-size: 1.8rem;

  margin: 25px 10px 30px 10px;
  text-align: center;
}

div.social {
  margin: auto 0;
  width: 100%;
  text-align: center;
}

.copyright {
  color: #0b0b0b;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 700px) {
  img#profile {
    width: 80%;
  }

  #bio-desc {
    padding: 20px 45px 20px 45px;
  }
}
