body {
  background-color: #121212;
  font-family: bebas-kai, sans-serif;
  font-style: normal;
}
#navbar,
.navbar-brand {
  font-size: 2rem;
}
.links a {
  color: #ffffff;
  font-size: 3.3rem;
  text-decoration: none !important;
}
#code-row {
  background-color: #4d9de0;
  padding: 23px 5px;
}
#resume-row {
  background-color: #fcd68a;
  padding: 23px 5px;
}
.header {
  font-size: 3.3rem;
  padding: 10px 15px;
  margin: 2px 2px;
}
a,
a:hover,
div {
  color: #ffffff;
  text-decoration: none !important;
}
