body {
  background-color: #121212;
  font-family: 'Nanum Gothic', sans-serif;
}
#navbar,
.navbar-brand {
  font-size: 2rem;
  background-color: #121212;
}
.links a {
  color: #ffffff;
  font-size: 3.3rem;
  text-decoration: none !important;
}
#code-row {
  background-color: #7698b3;
  padding: 23px 5px;
}
#resume-row {
  background-color: #1e3c5b;
  padding: 23px 5px;
}
.header {
  font-size: 3.3rem;
  padding: 10px 15px;
  margin: 2px 2px;
}
a,
a:hover,
div {
  color: #ffffff;
  text-decoration: none !important;
}
