body {
  background-color: #121212;
  font-family: bebas-kai, sans-serif;
}
#navbar,
.navbar-brand {
  font-size: 2rem;
}

h1.header {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

a,
a:hover {
  color: #ffffff;
  text-decoration: none !important;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.container {
  text-align: center;
}

div#next-gallery {
  font-size: 2.4rem;
}

i.fas,
i.fab {
  color: #ffffff;
  font-size: 2rem;

  margin: 25px 10px 45px 10px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 5px 5px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
