html,
body {
  background-color: #0e0e0e;
  font-family: bebas-kai, sans-serif;
  font-style: normal;
}
#navbar {
  background-color: none;
}

.navbar-brand {
  font-size: 2rem;
}

#current-page {
  color: #ffffff;
}

.nav-item {
  font-size: 1.4rem;
}

h1.header {
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

a,
a:hover {
  color: #ffffff;
  text-decoration: none !important;
}

img {
  cursor: pointer;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.container {
  text-align: center;
}

div#next-gallery {
  font-size: 2.4rem;
}

i.fas,
i.fab {
  color: #ffffff;
  font-size: 2rem;

  margin: 25px 10px 30px 10px;
  text-align: center;
}

.copyright {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 5px 5px;
  float: left;
  width: 24.99999%;
}

.picture-container {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}

#lightbox {
  position: fixed;
  z-index: 3000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox.active img {
  max-width: 520px;
  cursor: default;
  border: 5px solid #ffffff;
}

@media only screen and (max-width: 1367.99999px) {
  #lightbox.active img {
    max-width: 490px;
  }
}

@media only screen and (max-width: 824.99999px) {
  .responsive {
    width: 49.99999%;
  }

  #lightbox.active img {
    max-width: 470px;
  }
}

@media only screen and (max-width: 767.99999px) {
  #lightbox.active img {
    max-width: 400px;
  }
}

@media only screen and (max-width: 424.99999px) {
  #lightbox.active img {
    max-width: 370px;
  }
}

@media only screen and (max-width: 374.99999px) {
  #lightbox.active img {
    max-width: 310px;
  }
}

@media only screen and (max-width: 319.99999px) {
  #lightbox.active img {
    max-width: 250px;
  }
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
