html,
body {
  font-family: bebas-neue-pro-expanded, sans-serif;
  font-style: normal;
  height: 100%;
  background-image: url('/compressed-wallpaper-200108-04016.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #0b0b0b;
}

div.main {
  height: 100%;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

div.vertically-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#content {
  display: none;
}

h1 {
  cursor: default;
  font-size: 3.8rem;
  color: #ffffff;
  text-align: center;
}
div.buttons {
  text-align: center;
}

button#photo,
button#dev {
  font-size: 1.5rem;
  padding: 5px;
  margin: 10px;
}

a,
a:hover {
  color: #ffffff;
  text-decoration: none !important;
}

i.fas,
i.fab {
  color: #ffffff;
  background-color: #0e0e0e;
  font-size: 2rem;
  margin: 20px 10px 10px 10px;
}

div#footer {
  text-align: center;
  font-size: 2rem;
  width: 320px;
}

@media only screen and (max-width: 1367.99999px) {
  body {
    background-image: url('/large-wallpaper-200108-04016.jpg');
  }
}

@media only screen and (max-width: 824.99999px) {
  body {
    background-image: url('/medium-wallpaper-200108-04016.jpg');
  }
}

@media only screen and (max-width: 668.99999px) {
  html,
  body {
    background-image: url('/small-wallpaper-200108-04016.jpg');
  }
}
