html,
body {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 600;
  font-style: normal;
  height: 100%;
  background-image: url('/img/compressed-wallpaper-200108-04016.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #090909;
  overflow: hidden;
}

#navbar {
  background-color: #090909;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}

div.main {
  height: 100%;
  position: relative;
  background-color: rgba(14, 14, 14, 0.5);
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

div.vertically-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#content {
  display: none;
}

div.title {
  font-family: dunbar-tall, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 3.1rem;
  color: #dedfdd;
  width: 800px;
  text-align: center;
}
div.buttons {
  text-align: center;
}

button#photo,
button#dev {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.6rem;
  padding: 5px 25px;
  margin: 10px;
  width: 155px;
  border-radius: 150px;
}

a,
a:hover {
  color: #dedfdd;
  text-decoration: none !important;
}

i.fas,
i.fab {
  color: #dedfdd;
  font-size: 2.1rem;
  margin: 20px 10px 10px 10px;
}

div#footer {
  text-align: center;
  font-size: 2rem;
  width: 420px;
}

@media only screen and (max-width: 1367.99999px) {
  body {
    background-image: url('/img/large-wallpaper-200108-04016.jpg');
  }
  div.title {
    font-size: 3rem;
  }
  button#photo,
  button#dev {
    font-size: 1.5rem;
  }
  i.fas,
  i.fab {
    color: #dedfdd;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 841.99999px) {
  body {
    background-image: url('/img/medium-wallpaper-200108-04016.jpg');
  }
  div.title {
    font-size: 3rem;
  }
  button#photo,
  button#dev {
    font-size: 1.5rem;
  }
  i.fas,
  i.fab {
    color: #dedfdd;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 668.99999px) {
  html,
  body {
    background-image: url('/img/small-wallpaper-200108-04016.jpg');
  }
  div.title {
    font-size: 2.9rem;
  }
  button#photo,
  button#dev {
    font-size: 1.4rem;
  }
  i.fas,
  i.fab {
    color: #dedfdd;
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 470.99999px) {
  html,
  body {
    background-image: url('/img/small-wallpaper-200108-04016.jpg');
  }

  div.title {
    font-size: 2.1rem;
  }
  button#photo,
  button#dev {
    font-size: 1.1rem;
  }
  i.fas,
  i.fab {
    color: #dedfdd;
    font-size: 1.8rem;
  }
}
