body {
  background-color: #121212;
  font-family: 'Nanum Gothic', sans-serif;
}
#about-row {
  background-color: #121212;
}
#dev-row {
  background-color: #f2d4ab;
}
#photo-row {
  background-color: #b84a62;
}
#contact-row {
  background-color: #3985ba;
}
div .header {
  font-size: 3.3rem;
  font-weight: 100;
  padding: 20px 5px;
  margin: 2px 2px;
}
a,
a:hover,
div {
  color: #ffffff;
  text-decoration: none !important;
}
