html,
body {
  background-color: #0b0b0b;
  font-family: bebas-neue-pro-expanded, sans-serif;
  font-style: normal;
  height: 100%;
  background-image: url('/compressed-wallpaper-200108-04016.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #0b0b0b;
}

div.main {
  height: 100%;
  position: relative;
  background-color: rgba(14, 14, 14, 0.5);
}

div.vertically-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 400px;
}

p {
  color: #ffffff;
  text-align: center;
}

p#response-1 {
  font-size: 3rem;
  margin: 0;
}

p#response-2 {
  margin: 0;
  padding: 0;
}

p#response-2,
p#response-3 {
  font-size: 1.5rem;
  font-family: mr-eaves-xl-modern, sans-serif;
  font-style: italic;
}

div.buttons {
  text-align: center;
}

button#photo,
button#dev {
  font-size: 1.5rem;
  padding: 5px;
  margin: 10px;
}

a,
a:hover {
  color: #ffffff;
  text-decoration: none !important;
}

i.fas,
i.fab {
  color: #ffffff;
  font-size: 2rem;
  margin: 20px 10px 10px 10px;
}

div#footer {
  text-align: center;
  font-size: 2rem;
  width: 320px;
}

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 1367.99999px) {
  body {
    background-image: url('/large-wallpaper-200108-04016.jpg');
  }
}

@media only screen and (max-width: 824.99999px) {
  body {
    background-image: url('/medium-wallpaper-200108-04016.jpg');
  }

  p#response-1 {
    font-size: 3rem;
  }

  i.fas,
  i.fab {
    color: #ffffff;
    font-size: 1.5rem;

    margin: 10px 10px 35px 10px;
    text-align: center;
  }
}

@media only screen and (max-width: 668.99999px) {
  html,
  body {
    background-image: url('/small-wallpaper-200108-04016.jpg');
  }
}
