@import '../../../App.css';

.footer {
    background-color: var(--mainColorDark);
    padding: 20px 10px;
    width: 100%;
}

.pageSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages {
    color: var(--accentColor2);
    text-decoration: none;
    padding: 20px 5px;
    margin: 0 10px;
}

.icons {
    size: 1000000px;
}

.copyright {
    color: var(--mainColorLight);
    text-align: center;
    font-size: 0.8rem;
    padding: 20px 10px;
}

.active {
    color: var(--mainColorLight);
    text-decoration: underline;
}